html, body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
}
.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    width: 750px;
}
#history {
    border-radius: 8px 0 0 8px;
    border-right: none;
    border-top: 4px solid #607d8b;
    display: block;
    height: 500px;
    margin: 0;
    width: 350px;
}
#history-list {
    height: 400px;
    overflow: auto;
}
.time {
    font-size: 14px;
}
.history {
    font-size: 16px;
}
.remove {
    font-size: 20px;
}
#delete-history {
    border-top: 1px solid #607d8b;
}
#calculator {
    border-radius: 0 8px 8px 0;
            -webkit-box-ordinal-group: 2;
                -ms-flex-order: 1;
                    order: 1;
            height: 500px;
            width: 450px;
    }
.buttons {
    height: 65px;
}

