html, body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
}
.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    width: 700px;
}
#history {
    border-radius: 8px 0 0 8px;
    border-right: none;
    display: block;
    flex: 35%;
    height: 466px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
}
#history-list {
    height: 370px;
    overflow: auto;
}
.time {
    font-size: 14px;
}
.history {
    font-size: 16px;
}
.remove {
    font-size: 20px;
}
#delete-history {
    border-top: 1px solid #607d8b;
}
#calculator {
    border-radius: 0 8px 8px 0;
    flex: 50%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
            height: 466px;
    }
.buttons {
    height: 65px;
}
#equal:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}