@import url('https://fonts.googleapis.com/css?family=Lato:100,300');

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Lato, sans-serif;
    -webkit-font-smoothing: antialiased !important;
    font-weight: 300 !important;
}

body {
    background-color: #b0bec5;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
}

/* History tab */
#history {
    color: #ccc;
    background-color: #455a64;
    border: 4px solid #607d8b;
    display: none;
    padding: 0 10px 0 10px;
}

#top-frame-history {
    height: 40px;
    margin: 0;
    margin-bottom: 10px;
    padding: 10px 0;
}

#top-frame-history p {
    border-bottom: 1px solid #607d8b;
    margin: 0;
    font-size: 25px;
    padding-bottom: 10px;
}

#history-list {
    height: 100%;
}
#history-list ul {
    margin: 0;
    padding: 0;
}
#history-list li {
    display: flex;
    border-bottom: 1px solid #607d8b;
    font-size: 20px;
    list-style-type: none;
}
.history-text {
    flex: 90%;
}
.remove {
    flex: 10%;
    font-size: 25px;
    padding: 10px 16px;
}
.history-text:hover, .remove:hover, #delete-history:hover {
    color: #ffb74d;
    transition: all 0.5s ease-in-out;
}
.time {
    font-size: 14px;
}
.history {
    font-size: 18px;
    margin: 0;
}
#delete-history {
    display: none;
    font-size: 25px;
    padding: 0 4px;
}
/* Calculator tab */
#calculator {
    color: #ccc;
    background-color: #607d8b;
    border: 4px solid #607d8b;
}
#top-frame-calculator {
    background-color: #607d8b;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 25px;
}
#top-frame-calculator p {
    font-size: 16px;
    padding: 2px 5px;
    margin: 0;
}
#date {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: left;
}
#time {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: right;
}
#bottom-calculation, #top-calculation {
    text-align: right;
}
#top-calculation {
    font-size: 25px;
    height: 40px;
    padding: 5px 7px;
}
#bottom-calculation {
    font-size: 45px;
    height: 60px;
    padding: 5px 2px;
}
.row {
    border-bottom: 2px solid #607d8b;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.row:last-child {
    border-bottom: none;
}
.buttons {
    background-color: #455a64;
    color: #ccc;
    border: none;
    border-right: 2px solid #607d8b;
    font-size: 28px;
    -webkit-box-flex: 20%;
        -ms-flex: 20%;
            flex: 20%;
    height: 70px;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.buttons:last-child {
    border-right: none;
}

.buttons:hover {
    background-color: #607d8b;
    font-weight: bold;
}

.operations {
    color: #ffb74d;
    font-size: 22px;
}

#equal {
    background-color: #ffb74d;
    border-bottom: none;
    color: black;
    -webkit-box-flex: 40%;
        -ms-flex: 40%;
            flex: 40%;
    font-size: 30px;
}

#equal:hover {
    border: none;
}

/* Class for transition effect on keyboard press */
.keypress {
    background-color: #607d8b;
   -webkit-transition: all .1s ease-in-out;
   transition: all .1s ease-in-out;
}

